Button.solution-button:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.solution-button:disabled {
    -unity-background-image-tint-color: rgba(165, 165, 165, 0.5);
}

.solution-button:enabled {
    -unity-background-image-tint-color: rgba(230, 230, 230, 0.75);
}